// Grayscale Text Utilities

.text-xs {
  font-size: .7rem;
}

.text-lg {
  font-size: 1.2rem;
}

.text-gray-100 {
  color: $gray-100;
}

.text-gray-200 {
  color: $gray-200;
}

.text-gray-300 {
  color: $gray-300;
}

.text-gray-400 {
  color: $gray-400;
}

.text-gray-500 {
  color: $gray-500;
}

.text-gray-600 {
  color: $gray-600;
}

.text-gray-700 {
  color: $gray-700;
}

.text-gray-800 {
  color: $gray-800;
}

.text-gray-900 {
  color: $gray-900;
}

.primary-old-color {
  color: $primary-old-color;
}

.secondary-old-color {
  color: $secondary-old-color;
}

.third-old-color {
  color: $third-old-color;
}



.icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
