.booking-title {
    font-size: 18px;
    text-align: end;
}

.booking-small {
  font-size: 14px;
  color: $gray-600;
  margin-bottom: 0;

}

.note-booking {
  font-size: 12px;
  color: $muted-color;
  font-style: italic;
  text-align: left;
}
