// Specific CSS for your home-page


/* banner-vetlove por revisar */
.banner-vetlove {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #000000 25%, rgba(0, 0, 0, 0.19) 63.79%), url("background.jpg"), #000000;
  background-size: cover;
	background-position: center;
  padding: 10px 10px;
  min-width: 580px;
  color: white;
}

.banner-vetlove h1 {
  padding: 100px 0 45px 0;
  text-shadow: 1px 1px 2px black;
}

#buscar {
  border-radius: 50px;
  border: none;
  padding: 19px;
  width: 350px;
}

#buscar::placeholder {
  text-align: center;
  font-size: 20px;
  color: black;
}

#search-b {
    position: relative;
    right: 59px;
    color: #649DAD;
    border-radius: 30px;
    background-color: #A4E5D9;
    padding: 11px;
}

.searcher {
  margin: 30px;
}

.size-button-search {
    margin: 4px;
}

.page-section{
  margin: 60px 0px;
}

.service-text{
  font-weight: bold;
}
.leyenda{
  font-size: 18px;
  font-style: italic;
}

