// Specific CSS for your home-page


/* banner-vetlove por revisar */
.banner-vetlove {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(10deg, #000000 0%, rgba(48, 48, 48, 0.11) 63.79%), url("background.jpg"), #000000;
  background-size: cover;
	background-position: center;
  padding: 200px 10px;
  min-width: 580px;
  color: white;
  height: 580px;
}

.banner-vetlove h1 {
  padding: 100px 0 45px 0;
  text-shadow: 1px 1px 2px black;
}

#buscar {
  border-radius: 50px;
  border: none;
  padding: 19px;
  width: 350px;
  box-shadow: 0 1px 12px 0px #18181817;
}

#buscar::placeholder {
  text-align: center;
  font-size: 20px;
  color: rgba(114, 114, 114, 0.61);
}

#search-b {
    position: relative;
    left: 156px;
    bottom: 42px;
    color: $primary-color;
    border-radius: 30px;
    background-color: #b181dfc9;
    padding: 11px;
    border: none;
}

#search-f {
    position: relative;
    left: 308px;
    bottom: 42px;
    color: $primary-color;
    border-radius: 30px;
    background-color: $secondary-color;
    padding: 11px;
    border: none;
}

.searcher {
  margin: 30px;
}

.size-button-search {
    margin: 4px;
}

.page-section{
  margin: 60px 0px;
}

.service-text{
  font-weight: bold;
}
.leyenda{
  font-size: 18px;
  font-style: italic;
}

.fa-stack{
  text-shadow: 8px 8px 8px #00000023;
  color: #57429D;
}
