.pet-title {
    margin: 0;
}

.pet-small {
  font-size: 14px;
  color: $gray-600;
  margin-bottom: 0;

}

.note-pet {
  font-size: 12px;
  color: $muted-color;
  font-style: italic;
  text-align: left;
}
