.record-label {
    font-size: 16px;
    color: $gray-700;
    margin-bottom: 0;
}

.img-profile-record {
    max-width: 16rem;
    max-height: 16rem;
    min-width: 13rem;
    min-height: 13rem;
  }

.records-cards {
  border-radius: 16px;
  box-shadow: 5px 8px 5px rgba(46, 46, 46, 0.24);
}
