<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Calendario</h1>
</div>
<%= month_calendar do |date| %>
  <%= date.to_formatted_s(:short) %>
  <% @bookings.each do |bookie| %>
    <% if date == Date.parse(bookie.date.to_s)  %>
      <p><strong>Consultorio:</strong> <%= bookie.consulting_room.name %> </p>
      <p><strong>Paciente:</strong> <%= bookie.pet.name %></p>
    <% end %>
  <% end %>
<% end %>
