<h1>Bookings#calendar</h1>
<p>Find me in app/views/bookings/calendar.html.erb</p>

<ul>
  <% @bookings.each do |bookie| %>
  <li><h4><%= bookie.consulting_room.name %></h4></li>
  <li>Pet name: <%= bookie.pet.name %></li>
  <li>Owner <%= bookie.pet.user.first_name %></li>
  <li>Consult day <%= bookie.date %></li>
  <hr>
  <% end %>
</ul>
