<!-- Footer-->
<footer class="footer py-2 footer-vetlove">
 <!-- <div class="container "> -->
    <div class="align-items-center d-flex">
      <div class="col-lg-4 text-lg-start text-footer division-izq">Made with <i class="fas fa-heart"></i> Batch 720!</div>
      <div class="col-lg-4 my-3 my-lg-0 division-cen">
        <a class="btn btn-ligth btn-social link-social mx-2" href="#!"><i class="fab fa-instagram"></i>
        <a class="btn btn-ligth btn-social link-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-ligth btn-social link-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="col-lg-4 text-lg-end division-der">
        <a class="link-ligth text-decoration-none text-link me-2">VetLove Team</a>
      </div>
    </div>
 <!-- </div> -->
</footer>
