<div class="banner-vetlove">
  <h1>Atencion de primera para los consentidos de casa</h1>
  <div class="searcher">
    <input type="text" id="buscar" name="fname" placeholder="Buscar">
      <a href="#" id="search-b"><i class="fas fa-search size-button-search"></i></a>
  </div>
</div>
