<%= render 'shared/navbar' %>
<div class="banner-vetlove">
  <h1>Atencion de primera para los consentidos de casa</h1>
  <div class="searcher">
<%= form_tag consulting_rooms_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    id: 'buscar',
    placeholder: "Buscar veterinarios"
  %>
  <%= submit_tag "", class: "fas fa-search size-button-search", id: "search-b" %>
<% end %>
</div>
</div>
<%# Services %>
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase service-text">Servicios</h2>
      <h3 class="section-subheading text-muted leyenda my-4">En VetLove te ofrecemos los mejores servicios para tus mascotas.</h3>
    </div>
    <div class="row text-center my-5 ">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-search-location fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Busqueda</h4>
        <p class="text-muted">Busca veterinarios cercanos a tu localidad.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="far fa-calendar-alt fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Agendar cita</h4>
        <p class="text-muted">Puedes solicitar cita con el veterinario que mejor se adapte a tus necesidades.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-notes-medical fa-stack-1x fa-inverse"></i><%# <i class="fas fa-lock fa-stack-1x fa-inverse"></i> %>
        </span>
        <h4 class="my-3">Historial Medico</h4>
        <p class="text-muted">Puedes visualizar el historial medico de tu mascota luego de asistir a la cita.</p>
      </div>
    </div>
  </div>
</section>
<%# ABOUT %>
<section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/perrito.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Nuestra Mision</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Ayudar a toda la comunidad de amantes de los animales a cuidar y darle la mejor calidad de vida a los consentidos de casa!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/gato.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Nuestra Vision</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/cute-dog-cat2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">bla bla</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Se Parte
                                <br />
                                De Nuestra
                                <br />
                                Comunidad!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
