<%= render 'shared/navbar' %>
<div class="banner-vetlove">
  <h1>Atención de primera para los consentidos de casa</h1>
  <div class="searcher">
    <%= form_tag consulting_rooms_path, method: :get do %>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    id: 'buscar',
    placeholder: "Buscar veterinarios"%>
      <%= submit_tag "", class: "fas fa-search size-button-search", id: "search-b" %>
    <% end %>
  </div>
</div>


<%# ------ ABOUT ------- %>
<section class="page-section about-seccion" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase my-3 text-primary font-weight-bold">Nosotros</h2>
      <h3 class="section-subheading text-muted my-4">Acerca de VetLove</h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/cachorro.jpg" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Mision</h4>
          </div>
          <div class="timeline-body"><p class="text-muted">Nuestra misión es ayudar a toda la comunidad de amantes de los animales a cuidar y darle la mejor calidad de vida a los pequeños de casa!</p></div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/kitty.jpg" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Nacio una idea</h4>
          </div>
          <div class="timeline-body"><p class="text-muted">Basado en la necesidad de todos los padres de pequeños caninos, felinos, etc. de brindarles la mejor atencion medica a sus mascotas, nacio esta idea de VetLove!</p></div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/cute-cat-dog.jpg" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Servicio Completo</h4>
          </div>
          <div class="timeline-body"><p class="text-muted">La idea se extendio para que aquellos medicos veterinarios que deseen ofrecer sus servicios puedan hacerlo a traves de nuestra plataforma y asi conectar a toda la comunidad de VetLovers!</p></div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Se Parte
            <br />
            De Nuestra
            <br />
            Comunidad!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
<%# ------------Services Seccion------------------- %>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image:linear-gradient(25deg, #000000 0%, rgba(125, 125, 125, 0.096) 63.79%), url('https://images.unsplash.com/photo-1596272875729-ed2ff7d6d9c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');" alt="search">
      <div class="d-block w-100">
        <div class="row">
          <div class="col-4 mx-4 text-center">
            <h2 class="text-light font-weight-bold my-3">Servicios</h2>
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x services-circle"></i>
              <i class="fas fa-search-location fa-stack-1x fa-inverse iconos"></i>
            </span>
            <h4 class="my-4 font-weight-bold text-light">Busqueda</h4>
            <p class="text-light">Busca veterinarios cercanos a tu <br>localidad.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" style="background-image:linear-gradient(25deg, #000000 0%, rgba(125, 125, 125, 0.096) 63.79%), url('https://images.unsplash.com/photo-1630438994394-3deff7a591bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');" alt="Citas Medicas">
      <div class="d-block w-100">
        <div class="row">
          <div class="col-4 mx-4 text-center">
            <h2 class="text-light font-weight-bold my-3">Servicios</h2>
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x services-circle"></i>
              <i class="far fa-calendar-alt fa-stack-1x fa-inverse iconos"></i>
            </span>
            <h4 class="my-4 text-light font-weight-bold">Agendar cita</h4>
            <p class="text-light">Puedes solicitar cita con el veterinario <br>que mejor se adapte a tus necesidades.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" style="background-image:linear-gradient(25deg, #000000 0%, rgba(125, 125, 125, 0.096) 63.79%), url('https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=986&q=80');" alt="historia medica">
      <div class="d-block w-100">
        <div class="row">
          <div class="col-4 mx-5 text-center">
            <h2 class="text-light font-weight-bold my-3">Servicios</h2>
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x services-circle"></i>
              <i class="fas fa-notes-medical fa-stack-1x fa-inverse iconos"></i>
            </span>
            <h4 class="my-4 font-weight-bold text-light">Historia Medica</h4>
            <p class="text-light">Puedes visualizar el historial medico de tu <br>mascota luego de asistir a la cita.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<%# <section class="page-section services-seccion" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase font-weight-bold text-primary">Servicios</h2>
      <h3 class="section-subheading leyenda my-4">En VetLove te ofrecemos los mejores servicios para tus mascotas.</h3>
    </div>
    <div class="row text-center my-5 ">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x services-circle"></i>
          <i class="fas fa-search-location fa-stack-1x fa-inverse iconos"></i>
        </span>
        <h4 class="my-4 font-weight-bold text-primary">Busqueda</h4>
        <p>Busca veterinarios cercanos a tu localidad.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x services-circle"></i>
          <i class="far fa-calendar-alt fa-stack-1x fa-inverse iconos"></i>
        </span>
        <h4 class="my-4 text-primary font-weight-bold">Agendar cita</h4>
        <p>Puedes solicitar cita con el veterinario que mejor se adapte a tus necesidades.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x services-circle"></i>
          <i class="fas fa-notes-medical fa-stack-1x fa-inverse iconos"></i>
        </span>
        <h4 class="my-4 font-weight-bold text-primary">Historial Medico</h4>
        <p>Puedes visualizar el historial medico de tu mascota luego de asistir a la cita.</p>
      </div>
    </div>
  </div>
</section> %>
 <!--------- Vets Team ---------->
<section class="page-section team-seccion" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase font-weight-bold text-primary my-3">Equipo de Veterinarios</h2>
      <h4 class="section-subheading text-muted my-4">Conoce a parte de nuestro maravilloso equipo de veterinarios.</h4>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle veterinarios" src="assets/Veterinarios1.jpg" alt="..." />
          <h4 class="font-weight-bold textos">Fernando Lopez</h4>
          <p class="textos2">Veterinario</p>
          <a class="btn btn-secondary mx-2" href="consulting_rooms"><i class="fas fa-dog"></i></a>
          <a class="btn btn-secondary mx-2" href="consulting_rooms"><i class="fas fa-paw"></i></a>
          <a class="btn btn-secondary mx-2" href="consulting_rooms"><i class="fas fa-cat"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle veterinarios" src="assets/veterinaria2.jpg" alt="..." />
          <h4 class="font-weight-bold textos">Genesis Perez</h4>
          <p class="textos2">Veterinaria</p>
          <a class="btn btn-secondary mx-2" href="consulting_rooms"><i class="fas fa-dog"></i></a>
          <a class="btn btn-secondary mx-2" href="consulting_rooms"><i class="fas fa-paw"></i></a>
          <a class="btn btn-secondary mx-2" href="consulting_rooms"><i class="fas fa-cat"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle  veterinarios" src="assets/veterinario 3.jpg" alt="..." />
          <h4 class="font-weight-bold textos">Alfredo Peña</h4>
          <p class="textos2">Veterinario</p>
          <a class="btn btn-secondary mx-2" href="consulting_rooms"><i class="fas fa-dog"></i></a>
          <a class="btn btn-secondary mx-2" href="consulting_rooms"><i class="fas fa-paw"></i></a>
          <a class="btn btn-secondary mx-2" href="consulting_rooms"><i class="fas fa-cat"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">En la seccion de buqueda podras encontrar mas informacion acerca de nuestro increible equipo de veterinarios y ubicarlos segun tu localizacion.</p></div>
    </div>
  </div>
</section>
