<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <p class="h2 m-0 text-gray-800">Mis Consultorios</p>
  <%# <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> %>
  <h4><%= link_to "Agregar Nuevo Consultorio", new_consulting_room_path, class:"btn btn-primary pt-1 botoncito" %></h4>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div id="global_vet" class="row card">
      <ul class="list-group list-group-flush">
        <% @query_rooms.each do |room| %>
          <li class="list-group-item">An item</li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# <div class="col-1"></div> %>
  <div id="map" class="col-sm-12 col-md-6  map-custom_vet"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
