footer{
    background-color:#649DAD;
    width: 100%;
}

.text-footer{
    color: white;
}

.text-link{
    color: white;
}

.link-social{
    font-size: 20px;
    color: white;
}

.link-social:hover{
    color: #a7f3fd71;
}

.division{
text-align: center;
}

.footer-vetlove {
  min-width: 100vh;
}
#foot{
  margin-right: 0!important;
  margin-left: 0!important;
}
.division-cen{
  text-align: center;
}
.division-izq{
  text-align: left;
  padding: 0 45px;
}
.division-der{
  text-align: right;
  padding: 0 45px;
}
.division-der a:hover{
  color: white;
}
