footer{
    background-color:#649DAD;
    width: 100%;
}

.text-footer{
    color: white;
}

.text-link{
    color: white;
}

.link-social{
    font-size: 25px;
    color: white;
}

.link-social:hover{
    color: #000000;
}

.division{
text-align: center;
}

.footer-vetlove {
  min-width: 100vh;
}
#foot{
  margin-right: 0!important;
  margin-left: 0!important;
}
