.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 15px !important;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 22px;
  border: 3px solid rgb(86, 86, 160);
}

.map-custom {
  width: 100%;
  height: 75vh;
}

.map-custom_vet,
.map-custom_user {
  width: 100%;
  height: 85vh;
}

.map-custom,
.map-custom_vet,
.map-custom_user {
  border-radius: 12px;
}


.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

#draggableMap {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  width: 100%;
}