.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 15px !important;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 22px;
  border: 3px solid rgb(86, 86, 160);
}

.map-custom,
.map-custom_vet,
.map-custom_user {
  width: 100%;
  height: 75vh;
  border-radius: 12px;
}


.a-vet {
  text-decoration: none;
  .a-vet::hover{
    text-decoration: none;
  }
}


.map_draggableMap_edit,
.map_draggableMap_add {
  width: 100%;
  height: 100vh;
}

.map-custom,
.map-custom_vet,
.map-custom_user,
.map_draggableMap_add,
.map_draggableMap_edit {
  border-radius: 12px;
}

