.navbar-lewagon {
  display: flex !important;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    justify-content: space-between !important;
  }
}
.navbar-light .navbar-toggler {
    background-color: #5a5a5a4a!important;
}

.colores {
  color:red;
}

/* Navbar por modificar */
.navbar-vetlove-classic {
	background-color: #57429D;
	width: 100%;
	margin: 0;
	height: 67px;
}

.navbar-vetlove-classic .navbar-vetlove-classic-logo {
  position: relative;
	height: 40px;
	padding-right: 15px;
	padding-left: 68px;
  color: white;

	background-color: $primary-color;
  a:hover {
    color: #c0a3db;
  }

}

.decoracion {
  text-decoration: none !important;
}

.vetlove-brand {
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: $primary-color;
}
.vetlove-brand-logo{
  font-size: 30px;
  color: $primary-color;
}
.navbar-vetlove-classic-ulist a {
	color: $primary-color;
	display: block;
	padding: 22px 21px 21px;
	text-decoration: none;

}

.navbar-vetlove-classic .navbar-vetlove-classic-ulist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-vetlove-classic .navbar-vetlove-classic-elemlist {
	display: inline;
	float: left;
}

.navbar-vetlove-classic .navbar-vetlove-classic-elemlist a:hover {
  background-color: $secondary-color;
}

.navbar-vetlove-user {
  margin: 0.5rem;
  width: 45px;
  border: 2px solid $primary-color;
}

.navbar-home {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  padding: 0 30px;
  transition: 0.5s;
}

.botones{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  text-shadow: 1px 1px 2px rgba(46, 46, 46, 0.24);
  font-size: 17px;
  padding: 0 10px;
  font-weight: bold;
}

.change-color{
  background-color: #FFFF;
  transition: 0.5s;
  color: $primary-color;
  box-shadow: 8px 8px 8px #91919123;
  z-index: 10;
}
